
body{
	background-color: #a8c8ca;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(255,255,255,.3) 1px, rgba(255,255,255,.3) 21px),
	repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(255,255,255,.3) 1px, rgba(255,255,255,.3) 21px);
	font-size: 100%;
}

#wrapper{
	margin:0 auto;
	width: 81.666%;
	max-width: 980px;
	background-color: #ece9d6;
}

#social{
	width: 100%;
	background-color: rgba(77,77,77,0.2);
}

#social ul{
	/*width: 18.367%; set width with em points*/
	margin: 0 auto;
	text-align: center;
}

#social li{
	display: inline-block;
	text-align: center;
	/*width: 22.222%;*/
	width: 1em;
	margin: 0.8em 1em;
	padding: .2em .2em;
	border-radius: 50%;
	background-color: #fbfbf9;
	color: rgba(77,77,77,0.2);
	font-size:1.5em;

}

#social a{
	text-decoration: none;
	color: #d4d2c2;
}

#logo{
	width:95.91836%;
	margin:0 auto;
	border-bottom: 3px solid #9a988f;
}

#oval{
	width: 200px;
    height: 100px;
    background: #e37655;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    margin: 25px auto;

    text-align: center;

    transform:rotate(-10deg);
    -moz-transform: rotate(-10deg);  /* Firefox */
  	-o-transform: rotate(-10deg);  /* Opera */
  	-webkit-transform: rotate(-10deg);  /* Safari y Chrome */
 	 /*filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);*/

 	-webkit-box-shadow: 3px 5px 2px 0px #75746f;
	-moz-box-shadow: 3px 5px 2px 0px #75746f;
	box-shadow: 3px 5px 2px 0px #75746f;
}

#oval span{
	font-family: 'Lobster', cursive;
	font-size: 2.3em;
	color: #eae7d4;
	text-shadow:2px 2px #73574f;
}

a:visited{
	color:#4d4d4d;
}

nav{
	width:95.91836%;
	margin:0 auto;
	text-align: center;
	padding: 1em 0;
	color:#4d4d4d;
	margin-top: 3px;
	border-top: 1px solid #9a988f;
	border-bottom: 1px solid #9a988f;
	font-family: 'mensch';
}

nav li{
	display: inline-block;
}

nav li a{
	padding: 0.2em 0.4em;
}

nav li:hover a{
	background-color: #e37655;
	color:#fff;
}


nav a{
	text-decoration: none;
	font-size: 2em;
}


#slider{
	margin-top:15px;
	width: 102%;
	position: relative;
	left: -1.1%;
	/*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/

}

#dummy{
	background-color: #b0b68d;
	border:1px solid #aab08a;
	height:434px;
}


/*#dummy:before, #dummy:after
{
	content:"";
    position:absolute;
    z-index:-1;
}*/

/*#dummy:before{
	margin:0 auto;
	width: 50%;
	 top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 5px 25px rgba(0,0,0,0.6);
    -moz-border-radius:100px / 40px;
    border-radius:100px / 40px;
}*/

#left_corners{
	content: '';
	position: absolute;
	border:5px solid transparent;
	border-top:5px solid #4d4d4d;
	border-right: 5px solid #4d4d4d;
	
}

#right_corners{
	content: '';
	/*position: absolute;*/
	border:5px solid transparent;
	border-top:5px solid #4d4d4d;
	border-left: 5px solid #4d4d4d;
	float: right;
}